@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@400;600;700&display=swap');
#habitimgg{
    filter: drop-shadow(10px 4px 70px rgb(24, 62, 255));
}

.font-satoshi {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font-abril-fatface {
    font-family: 'Abril Fatface', cursive;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.hover-stretch:hover {
    transform: scale(1.25);
    transition: transform 0.5s ease-in-out;

}
.dark-mode {
    background-color: #1a202c; 
    color: #f7fafc; 
}

.dark-mode header {
    background-color: #2d3748; 
}

.dark-mode a {
    color: #edf2f7; 
}

.dark-mode .bg-white {
    background-color: #4a5568; 
}

.dark-mode .bg-gray-200 {
    background-color: #2d3748; 
}

.dark-mode .bg-gray-600 {
    background-color: #a0aec0;
}
.dark-mode {
    background-color: #1a202c; 
    color: #f7fafc;
}

.dark-mode header {
    background-color: #2d3748; 
}

.dark-mode nav a {
    color: #edf2f7; 
}

.dark-mode .bg-white {
    background-color: #4a5568; 
}

.dark-mode .bg-gray-200 {
    background-color: #2d3748; 
}

.dark-mode .bg-gray-600 {
    background-color: #a0aec0;
}